<%= simple_form_for(@teacher) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :online_teacher_id %>
    <%= f.input :service_name, collection: ["dmm", "rarejob", "sankei"] , selected: 1 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, { class: 'btn btn-info'}  %>
  </div>
<% end %>
