<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('teacher.name') %></th>
      <th><%= t('teacher.online_teacher') %> </th>
      <th><%= t('teacher.service_name') %> </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.online_teacher_id %></td>
        <td><%= teacher.service_name %></td>
        <td><%= link_to t('edit'), edit_teacher_path(teacher), { class: 'btn btn-primary'}  %> :
                <%= link_to t('destroy'), teacher, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_teacher_path, { class: 'btn btn-info'}  %>
<br>
<br>
<a href="https://px.a8.net/svt/ejp?a8mat=2NVADO+EBLENM+2H0Q+5YJRL" target="_blank">
<img border="0" width="468" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=161023308866&wid=001&eno=01&mid=s00000011537001001000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2NVADO+EBLENM+2H0Q+5YJRL" alt="">
