<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('teacher.name') %></th>
      <th><%= t('teacher.online_teacher') %> </th>
      <th><%= t('teacher.service_name') %> </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.online_teacher_id %></td>
        <td><%= teacher.service_name %></td>
        <td><%= link_to t('edit'), edit_teacher_path(teacher), { class: 'btn btn-primary'}  %> :
                <%= link_to t('destroy'), teacher, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_teacher_path, { class: 'btn btn-info'}  %>
