<p id="notice"><%= notice %></p>
<ul class="list-group">
  <li class="list-group-item"><%= t('teacher.name') %>: <%= @teacher.name %></li>
  <li class="list-group-item"><%= t('teacher.online_teacher') %>: <%= @teacher.online_teacher_id %></li>
  <li class="list-group-item"><%= t('teacher.service_name') %>: <%= @teacher.service_name %></li>
</ul>

<br>

<%= link_to t('new'), new_teacher_path, { class: 'btn btn-info'}  %>


